.page {
  margin: 5% 10%;
  border: 5px red;
}

tr:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

#troverride,
.page {
  background-color: rgb(241, 241, 241);
  cursor: default;
}
